<div class="card" style="width: 18rem; height: 440px; overflow: hidden;">
    <img class="card-img-top imgSize" src="{{bookData.volumeInfo.imageLinks.thumbnail}}" alt="Card image cap" >
    <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title">{{bookData.volumeInfo.title}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <app-button class="btn btn-primary" text="Go inside" (buttonClick)="goDetail(bookData.id)"></app-button>
    </div>
</div>
